@charset "utf-8";
/* CSS Document */

/*@media screen and (max-width: 768px)*/ @media screen and (max-width:1024px){
	.navbar-toggle{ display:block;}
	.navbar{ height:78px;}
	.navbar-header{   position:fixed; z-index:999; border-bottom: 0px solid #e5e5e5; width:100%; left:0px;}
	.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse{ margin-left:0px; margin-right:0px;}
	.nav > li { display: block;position: relative; float:none;}
	.navbar-right{ float:left !important; width:100%;}
	.navbar-right .dropdown-menu{ width:100%;}
	.navbar-nav .open .dropdown-menu { background-color: transparent; border: 0 none; box-shadow: none; float: none; margin-top: 0; position: static; width: auto;}
	.navbar-inverse .navbar-nav .open .dropdown-menu > li > a{ color:#d7d7d7;}
	.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus{ color:#ed3b3f; background-color: transparent;}
	.carousel{ padding-top:77px; }
	.side-collapse-container{width:100%;position:relative;left:0;transition:left .4s;}
	.side-collapse-container.out{left:80%;}
	.side-collapse {top:0;bottom:0;left:0;width:80%;position:fixed;overflow:hidden;transition:width .4s; background:#116bb2; z-index:99; padding-top:77px;}
	.navbar-toggle{ margin-left:10px; margin-top:20px;}
	.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {background-color: transparent;}
	.navbar-inverse .navbar-toggle {background:  transparent;}
	.navbar-inverse .navbar-toggle {border-color:  transparent;}
	.navbar-collapse{ border:0px;}
	.navbar-inverse .navbar-toggle{ background:#19232d;}
	.navbar-inverse .navbar-toggle{  background:  transparent;}
	.side-collapse.in {width:0;}
	.top-header a{ display:none;}
	.navbar-inverse .navbar-nav > li > a{ color:#fff;}
	.navbar-nav > li > a{ padding:15px;}
	.navbar-inverse .navbar-nav > li > a:focus{border-bottom:solid 2px #ed3b3f; outline:none 0px;}
	.navbar-inverse .navbar-nav > li > a.active{ color:#ed3b3f; border-bottom:solid 2px #ed3b3f;}
	.top-header{ display:none;}
	.mrg-bot-40{ margin-bottom:40px;}
	.pdn-80{ padding:80px 15px 20px;}
	header.shrink .top-fixed{ top:0; position:relative; transition: all 0.2s ease-in-out;-webkit-transition: all 0.2s ease-in-out;}
	h2{ font-size:24px; padding:20px 0;}
	.navbar:not(.shrink){ padding:0px;}
	navbar-brand{ padding-left:10px;}
	.min-height-270 {min-height: auto;}
	.abslt-poston {position: relative;} 
	.container{width:100%}
	img.w100{width:100%}
	h1{ font-size:30px;}
	h2, .about_features h2{ font-size:22px;line-height: 30px;}
	p{ font-size:20px;line-height:1.5;} 
	.btn_ylw, .btn_white, .btn_blue{ font-size:16px; padding:6px 20px; }  
	.salesLeader img:last-child{float:none;}
	nav ul li:last-child a {display: inline-block; margin: 20px;text-align: center;width: 50%;}
	.about_features p {font-size: 18px;font-weight: 100; line-height: 30px;padding: 10px 0 25px;}
	.foot-header{padding-top:15px; padding-bottom:5px}
}

@media screen and (max-width: 639px) {
	.img-responsive, .carousel-inner > .item > img{ width:auto; height:100%; max-width:200%;}
	.carousel-caption h2{ margin:10px 0; font-size:22px;}
	.carousel-caption p{ white-space:normal; font-size:16px; font-weight:700;}
}
@media screen and (max-width: 480px) {
	.row.ptop60{ padding-top:10px;}
	.btn_ylw, .btn_white, .btn_blue{ display:block; width:100%;}  
	.hbtns{width:100%}
	.ec-btn, .tc-btn{ float:none; margin:0px}
	.ec-btn{ margin-bottom:15px;}
	.finput {width: 100%;}
	.flabel {padding-top: 1px;width: 100%;}
}