@charset "utf-8"; 
/* Reset responsive Bootstrap elements */
body {  position: relative;font-family: 'Roboto', sans-serif;}
body p {line-height:1.5;}
a {transition: all 0.2s ease-in-out;-webkit-transition: all 0.2s ease-in-out;}

a:focus, button:focus{ outline:none 0px;}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn.active.focus{ outline:none 0px;}


table {
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset, img {
	border: 0;
}
address, caption, cite, code, dfn, em, strong, th, var {
	font-style: normal;
	font-weight: normal;
}
ol, ul {
	list-style: none;
 
    margin: 0;
    padding: 0;
}
caption, th {
	text-align: left;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal; margin:0px; padding:0px;
}
 p{font-weight: 300; }
h1{ font-size:50px; font-weight:normal;  padding:10px 0 20px 0;  margin:0px;font-family: 'Roboto Slab', serif;}
h2{ font-size:26px; font-weight:300; line-height:1.4em; padding:0px 0 30px 0; margin:0px;}
h4{ font-size:18px; color:#2c363c; font-weight:600; text-align:center; margin:20px 0;}
.banner{ color:#fff;text-align:center;}


header { position: fixed !important; top: 0;left: 0;width: 100%; background: #fff;z-index: 1000;-webkit-transition: height 0.3s; -moz-transition: height 0.3s;transition: height 0.3s;}
header.shrink{height: 78px;background:#144d80 ;}
header.shrink .top-header { opacity:0; transition: all 0.2s ease-in-out;-webkit-transition: all 0.2s ease-in-out; display:none}
header.shrink .top-fixed{ }
.dropdown-menu{ border-top:none;}
.top-header { background:#03406f;color: #ffffff; padding: 8px 0; width:100%; position:absolute; z-index:9999;}
.top-header a{ color:#fff;}
.navbar-brand{ padding:10px; height:auto; margin-left:0px !important;}
.navbar-inverse{ background:transparent ; border:none; border-radius:0px;}
.navbar{ border-bottom: 0px solid #e5e5e5;min-height: 78px; background:#144d80 ;}
.navbar.shrink{ margin-top:0px;}
.navbar:not(.shrink){ }
.navbar-inverse .navbar-nav {font-weight:300;}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus{ color:#fff; font-weight:300;}
.navbar-inverse .navbar-nav > li > a:focus{ outline:none 0px;}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus{ background:none;color:#800000;}
.navbar-inverse .navbar-nav > li > a{ color: #fff;
    font-size: 18px;   
    padding: 5px 20px 8px;}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{background:none;color:#fff;}
.navbar-right{ margin-top:20px;}
nav ul li:last-child a {
    border: 1px solid #fff;
    border-radius: 5px; margin-left:50px;
}
nav ul li:last-child a:hover { background-color: #1468b2 !important;color: #fff;}
.navbar-nav > li > a{}
 
.dropdown-menu > li > a{ font-weight:600; line-height:2; text-transform:uppercase;}
.navbar-right .dropdown-menu{ right:auto;}
.navbar{ margin-bottom:0px;}
.img-responsive, .carousel-inner > .item > img{ width:100%;}
  
.side-collapse-container{ padding:0px;} 
 
.unstyle-list{ padding-left:20px; margin:10px 0 20px 0; line-height:26px;}
.head-title { color: #2c363c;font-size: 18px; font-weight: 600; margin: 20px 0; text-align: left; text-transform: capitalize;}
.head-title2 { color: #2c363c;font-size: 22px; font-weight: 600; margin: 10px 0; text-align: left; text-transform: capitalize;}
.mb30 { margin-bottom: 60px;}
   
/*-------------------------------*/
/*   Footer css*/
/*-------------------------------*/
.footer{ background:#144d80; padding:30px 0}  
.pdn-40{ padding:10px 0px;}
.foot-links {font-weight:300;}
.foot-links p{ font-size:22px;color:#fff; transition: all 0.2s ease-in-out;-webkit-transition: all 0.2s ease-in-out; padding:15px 0;font-weight:300;}
.foot-links a{ display: block;color:#fff; transition: all 0.2s ease-in-out;-webkit-transition: all 0.2s ease-in-out; text-decoration: none; font-size: 18px;}
.foot-links a:hover, .foot-links a:focus{ color:#fff; }
.foot-links img{padding-top: 5px;}
.foot-header{font-size: 18px;color:#fff; padding-bottom: 20px; font-weight:500;}
 
 

 /*-------------------------------*/
/*  Home Page css*/
/*-------------------------------*/
  
.container {width: 1280px;}
 
.bluebg{ background:#144d80;padding:25px 0 50px}
.aboutbg{ background:#144d80 url(../images/aboutbg.png) no-repeat center; background-size:cover;padding:25px 0 50px}
.whitebg{ background:#fff;padding:65px 0  30px}
.ylbg{ background:#ff5b00;padding:65px 0 ; color:#fff;} 
.greybg{ background:#f6f6f6;padding:65px 0  0}
.mtop{margin-top:75px;}
.ptop60{ padding-top:60px;}

.cb_features{ font-size:30px; color: #8c8c8c;  padding:0px 0 0px 0; text-align:left; margin:0px;}
.greayColor{ color:#8c8c8c}
img.w100{width:100%}
.hbtns{ margin:5px auto 0; width:550px; clear:both;}
.ec-btn{ float:left; margin-right:20px; width:240px;}
.tc-btn{ float:left;  width:240px;}
.ylbg .btn_ylw{ min-width:230px; font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-weight:300;  color:#ff5b00;background-color: #fff;border:1px solid #fff;margin-top: 25px;}
.btn_ylw{ min-width:230px;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-weight:300;  display:inline-block; background-color: #ff5b00; border:1px solid #ff5b00; color: #fff; border-radius:5px; padding:6px 20px; font-size:25px; text-align:center; width: 100%;}
.btn_ylw:hover, .btn_ylw:focus { background-color: #fd6d1d;color: #fff; }
.btn_white{ min-width:230px;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-weight:300; display:inline-block; background-color:none; border:1px solid #fff; color: #fff; border-radius:5px; padding:6px 20px; font-size:25px; text-align:center;width: 100%; }
.btn_white:hover, .btn_white:focus { background-color: #1468b2;color: #fff; }
.btn_blue{ min-width:230px;font-family:Helvetica Neue,Helvetica,Arial,sans-serif; font-weight:300; display:inline-block; background-color:#144d80; border:1px solid #144d80; color: #fff; border-radius:5px; padding:6px 20px; font-size:25px; text-align:center; }
.btn_blue:hover, .btn_blue:focus { background-color: #1468b2;color: #fff; border:1px solid #1468b2; }

.btn_blueborder{ min-width:230px;font-family:Helvetica Neue,Helvetica,Arial,sans-serif; font-weight:300; display:inline-block; background-color:#fff; border:1px solid #144d80; color: #1468b2; border-radius:5px; padding:6px 20px; font-size:25px; text-align:center; }
.btn_blueborder:hover, .btn_blueborder:focus { background-color: #1468b2;color: #fff; border:1px solid #1468b2; }

.btn_ylwborder{ min-width:230px;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-weight:300;  display:inline-block; background-color: #fff; border:1px solid #ff5b00; color: #ff5b00; border-radius:5px; padding:6px 20px; font-size:25px; text-align:center; width: 100%;}
.btn_ylwborder:hover, .btn_ylwborder:focus { background-color: #fd6d1d;color: #fff; }

.btn_green{ min-width:230px;font-family:Helvetica Neue,Helvetica,Arial,sans-serif; font-weight:300; display:inline-block; background-color:#8cc63f; border:1px solid #8cc63f; color: #fff; border-radius:5px; padding:6px 20px; font-size:25px; text-align:center; }
.btn_green:hover, .btn_green:focus { background-color: #9cda49;color: #fff; border:1px solid #9cda49; }

 .clearfix{ clear:both;}
 .salesLeader{ clear:both;}
 .salesLeader img{ margin-right:3%;}
 .salesLeader img:last-child {    float: right;    margin: 0;}
 /*-------------------------------*/
/*  About us css*/
/*-------------------------------*/
.aboutus {padding: 250px 0;text-align: left;}
.aboutus h1 {font-size: 40px;text-align: left; line-height:1.5em; /*padding: 25px 0 50px;*/}
.aboutCon{clear:both;}
.colorBlack{ color:#000 !important;}
.padnone{ padding:0 !important;}
.innerContent{ font-size:30px;   padding:0px 0 0px 0; text-align:left; margin:0px;}
.innerContent h2{ font-size:30px; color:#8c8c8c; font-weight:400; padding-bottom:20px;}
.innerContent p{ font-size:24px; line-height:36px; color:#8c8c8c;font-weight:300;}



.mb25{ margin-bottom: 25px;}
.col-md-6.pull-right.greybg {padding: 30px;}
.col-md-6.pull-right.greybg h2{padding:0px 0 20px}
.col-md-6.pull-right.greybg p:last-child{ padding-bottom:20px;}

 /*-------------------------------*/
/*  Contact us css*/
/*-------------------------------*/

.contactus h2{ font-size:24px;  color:#8c8c8c; font-weight:400;}
.cont-title{ font-size:30px !important;}
.contactusHead {padding: 50px 0;text-align: left; color:#fff}
.contactusHead h1 {font-size: 45px;text-align: left;}
.contactusHead h2 {font-size: 26px;text-align: left;}
.flabel{   float: left;    padding-top: 9px;   width: 30%;}
.flabel label{ font-weight:normal; font-size:20px;}
.finput{  float: left; width: 70%;}
.wauto{width:auto !important}
.form-control{
    border-radius: 6px;
    font-size: 18px;
    height: 46px;
    line-height: 1.33333;
    padding: 10px 16px; border:1px solid #8c8c8c
}
 
 /*-------------------------------*/
/*  Features Page css*/
/*-------------------------------*/
.features{ font-size:30px;   padding:0px 0 0px 0; text-align:left; margin:0px; }
.features h2{ font-size:30px; color:#8c8c8c; padding-bottom:20px;    font-weight: 400;}
.features p{ font-size:24px; line-height:36px; color:#8c8c8c;margin:0px; font-weight:300;}
.greybgdrak{background:#c0c0c0;padding:140px 30px; float:right; text-align:center;}
.featuresPane{ padding:35px 0;clear:both; float:left; width:100%; border-bottom:1px solid #d8d8d8;}
.mtop30{padding-top:30px;}
.mtop50{padding-top:50px;}
#press {margin-top: 50px; width:100%;}
#press h4 { text-align:left;}
#press  p { font-size: 20px; line-height:36px; font-weight:300;}
.panel-group .panel{ border-radius:0px}
.panel-title{ font-size:24px; font-weight:300;}
.panel-default{ border:none;box-shadow: none;}
#press .panel-body{ background:#f5f5f5 url(../images/faq_triangle.png) no-repeat center bottom; padding:20px 20px 30px 20px; font-size:20px;}
#press .panel-body p{ padding-bottom:0px;}
.panel-default > .panel-heading {background-color:none;color: #8c8c8c; font-size:24px;background:none;}
.panel.panel-default{border-bottom:1px solid #d1d1d1; padding:10px 0; background:none;}
.bordernone{ border:none;}
.featuresPane_abf{ padding:60px 0; clear:both; float:left; width:100%;}
.Card{ padding:20px; border:1px solid #d8d8d8; border-radius:5px; box-shadow:0px 1px 1px 0px #d8d8d8; position:relative; margin-bottom:20px; background:#fff;}
.iconCop{ position:absolute; top:10px; right:15px;}
.userimg { float:left;border-radius: 50%;height: 90px;width: 90px; margin:0 15px 10px 0}
.userimg img{ border-radius: 50%;height: 90px;width: 90px;}
.ulocation {clear: both;font-size:18px; padding:5px 0;}
.ulocation img{margin-right:15px;}
.userdet{ float:left;}
.userdet h4{ font-size:24px; color:#424242; font-weight:500; text-align:left; margin:0px;}
.userdet h5{font-size:18px; color:#424242; text-align:left; margin:0px;font-weight:300;} 
.userimg_1 { float:left;margin:0 15px 10px 0}

.userdet1{ float:left;}
.userdet1 h4{ font-size:18px; color:#000; font-weight:500; text-align:left; margin:0px;}
.userdet1 h5{font-size:18px; color:#424242; text-align:left; margin:0px;font-weight:300;} 
.ulocation img{ vertical-align:middle;}

.featuresImg{padding:0px; float:left; text-align:center;}
.greybg p strong {font-weight: 500;}
ul.listdata{ padding:25px 0px; margin:0px; width:45%; float:left;}
ul.listdata li{ float:left; font-size:24px; color:#8c8c8c; width:100%; padding:10px 0px;font-weight:300;}

 .crm_compatable{ clear:both; padding:50px 0 25px;}
 .crm_compatable img{ margin-right:3.3%;} 
 
 
.card_exp{ padding:20px 0; border-radius:5px; position:relative; margin-bottom:20px; font-weight:300;}
.userimg_exp {background:#fff;font-weight:300;} 
.card_exp .userdet {float: left;width: 100%; font-size:30px; clear:both;}
.card_exp .userdet h4 {color:#8c8c8c; font-size:30px;  }
.card_exp .userdet h5 { font-size:24px; line-height:35px; padding:15px 0px;    font-style: italic;}
.readmore{ float:left; color:#144d80;font-size:24px;}
.readmore a{  color:#144d80; text-decoration:underline;}
.padLNone{ padding-left:0px;} .padrNone{ padding-right:0px;}


 /*-------------------------------*/
/*  Case Study Page css*/
/*-------------------------------*/
.caseStudy{ padding:100px 0}
.Case_Study{ font-size:30px;   padding:0px 0 30px 0; text-align:left; margin:0px; }
.Case_Study h2{ font-size:30px; color:#8c8c8c; padding: 15px 0 25px; clear:both;}
.Case_Study p{ font-size:24px; line-height:36px; color:#8c8c8c;margin:0px;  padding:0px 0 20px 0;font-weight:300;}

.Case_StudyPane{ padding:35px 0;clear:both; float:left; width:100%;}
.Case_StudyPane:nth-child(2) {padding-top: 0;}

 
 /*-------------------------------*/
/*  Price Page css*/
/*-------------------------------*/
.priceWrap{ padding:50px 0; text-align:left; margin:0px; }
.priceWrap h2{ font-size:30px; color:#8c8c8c; padding: 25px 0 10px; font-weight:400;}
.priceWrap p{ font-size:24px; line-height:36px; color:#8c8c8c;margin:0px;  padding:0px 0 20px 0;font-weight:300;}
.PrPane{ padding:5px 0;clear:both; float:left; width:100%;}
.pricingListPane{border-bottom:1px solid #d8d8d8; margin-bottom:20px;}
.pricingListPane h2{ float:left;width: 70%;}
.Pricelist {float: right;font-family: 'Roboto Slab', serif;}
.Pricelist h1{ font-size:40px; margin:0px; padding:0px;}
.Pricelist h5{ font-size:20px; margin:0px; padding:0px;}
.pricingListPane {border-bottom: 1px solid #d8d8d8;float: left;width: 100%;} 
.stillPane{ clear:both; text-align:center;padding:85px 0;}
.stillPane h1{ font-size: 30px; margin:0px; padding:10px 0; }
.stillPane h2{ font-size: 24px; margin:0px; padding:10px 0; }
.trialuser{ font-size:18px; padding:45px 0 0}

/*27 June 2016*/
.priceWrap .pricingList{ width:100%; clear:both; float:left;}
.priceWrap .pricingList ul{margin:0px; padding:0px;}
.priceWrap .pricingList ul li{width:31%; float:left; margin:0 0 20px 0;}
.priceWrap .pricingList ul li:nth-child(2) { margin: 0 3%;}
.priceWrap .pricingList ul li:last-child{margin-right:0;}
.priceWrap .pricingList ul li h1 {font-size: 34px; margin: 15px 0; padding: 0; color: #000; text-align: center;}
.priceWrap .pricingList ul li h1 span {color:#358fd6;}
.priceWrap .pricingList ul li h1 span small {color:#358fd6;}
.priceWrap .pricingList ul li h2{margin-bottom:15px; padding:0px; color:#000; text-align: center; margin: 15px 0;}
.priceWrap .pricingList ul li .priceBox{width:100%; border: solid 2px #358fd6; padding:40px 15px 20px 15px;min-height:705px;}
.priceWrap .pricingList ul li .priceBox p {font-size: 22px;font-weight:300;}
.priceWrap .pricingList ul li .priceBox h3{ font-size:24px; margin-bottom:15px; padding:0px; color:#000;}
.priceWrap .pricingList ul li .priceBox h4{ font-size:24px; line-height:36px; color:#eae6e6; margin:0px; padding:0px 0 20px 0;font-weight:400; text-align:left;}
.clrLight {color: #eae6e6 !important;}
.priceWrap h5{ font-size:18px; line-height:36px; color:#8c8c8c; margin:0px;  padding:0px 0 20px 0;font-weight:400; font-style:italic;}
.priceWrap .pricingList ul li .ec-btn {width: 100%; margin-top:15px;}
.priceWrap .pricingList ul li .btn_green {width: 100%; padding: 2px 20px; font-size: 24px;}
.priceWrap .pricingList ul li:nth-child(2) .priceBox{    border: 2px solid #8cc63f;}

b, strong {
    font-weight: 500;
}
.privacy ol li, .tos ol li {
    list-style-type: decimal;
    margin-left: 20px;padding: 10px 0 10px 10px; font-size:16px;
    line-height: 1.4; font-weight: 300;
} 
.innerWrap{ background:#144d80}
.inHeader{ padding:80px 0px;}

.explorePane h2{ font-weight: 400;}

.explorePane{ padding:35px 0;clear:both; float:left; width:100%;}
.padlNone{ padding-left:0px;}
 
 .form-group {padding: 5px 0;font-weight:300;}
 .about_features h2 {color: #8c8c8c;font-size: 30px;padding-bottom: 5px;}
.greenbg{ background:#8bc53e;padding:65px 0 ; color:#fff;}

.es{ font-size:30px; color: #fff; line-height:36px;  padding:0px 0 0px 0; text-align:left; margin:0px;}
.es h2{ font-size:24px;}
.col-md-6.pull-right.greybg p {
    line-height: 49px;font-weight:300;
}
.privacy{ color:#333;}
.privacy a{ color:#6ca61f;}
.about_features {
    font-size: 30px;
    margin: 0;
    padding: 0;
    text-align: left;
}
.about_features h2 {
    color: #8c8c8c;
    font-size: 30px;
    padding-bottom: 5px;
}
.about_features p{color:#8c8c8c;font-size:24px;line-height: 46px;padding-bottom:50px;font-weight:300;}
.ptop20{ padding-top:20px;}
.col-md-6.padnone.pull-right h2 {
    padding-top: 50px;
}
.ptop0{ padding-top:0px;}
h2 .pull-left {
    padding: 10px 25px 0 0;
}
.marginAuto {
    float: none;
    margin: 0 auto;
}
.csPane {
    float: left;
    text-align: center;
    width: 33%;
}
.csPane h3{ padding:60px 0 30px 0}
.csPane p{ font-size:26px; padding-bottom:0px;}
.padNone{ padding:0px}
.pad30{ padding:30px;}
.csbDrtop{ border-top:1px solid #4c779d;border-bottom:1px solid #4c779d;}
.csPane p {
    display: table-cell;
    height: 210px;
    vertical-align: middle;
    width: 350px; padding:0 10px; box-sizing:border-box;
}
.h2dis h2{ display:none;}


.panel-body ol{ 
    padding: 0px 0 0px 20px;
}.panel-body ol li{
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
    list-style-type: decimal;
    margin-left: 20px;
    padding: 5px 0 5px 10px;
}
.panel-body ol ol li{
    list-style-type: lower-alpha;}
.padl50{ padding-left:50px;}
.titleBlue {
    color: #144d80 !important;
    margin: 0;
}
